---
layout: default
overtitle: 
title: 
description: Research & Development for digital humanities and social sciences
featured_image: 
---

<div class="page-home">

	{% if site.data.settings.hero_settings.background_image %}
	<img src="{{ site.data.settings.hero_settings.background_image | relative_url }}" class="hero__background" draggable="false">
	{% endif %}

	<section class="hero">
		<div class="wrap">
			<p class="subtitle--light">
				{{ page.description }}
				
			</p>
		</div>
	</section>

	<div class="page-blog">
		<section class="all-posts">
			<div class="wrap">
				<div class="posts__list grid">
					{% for post in site.cmps_services %}
					{% include component__post-preview.html %}
					{% endfor %}
				</div>
			</div>
		</section>
	</div>
</div>