---
layout: default
title: Services
description: Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
featured_image: 
---

<div class="page-blog">
	<header class="header--single">
		<div class="wrap">
			<h1 class="header__title">Services</h1>
			<p class="header__subtitle subtitle--light">{{ page.description }}</p>
		</div>
	</header>

	<div class="page-blog">
		<section class="all-posts">
			<div class="wrap">
				<div class="posts__list grid">
					{% for post in site.cmps_services %}
					{% include component__post-preview.html %}
					{% endfor %}
				</div>
			</div>
		</section>
	</div>


</div>